nav {
    background-color: #515510;
}

#productsHeader {
    padding: 10vh 0;
    /* height: 50vh; */
    background-color: var(--secondary);
}
#productsHeader h1 {
    font-size: 3rem;
    margin-top: 0;
}

#productsHeader #search .prdtSearch {
    display: flex;
}
#productsHeader #search input {
    height: 3rem;
    width: 80%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    outline: none;
    border: thin solid #f2f2f2;
    text-align: center;
}
#productsHeader #search button.btn.prdtSearchBtn {
    box-shadow: unset;
    height: 3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}
#productsHeader .row #search .col.l3 {
    padding-left: 0;
}
#productsHeader #search select {
    border-radius: 0.7rem;
}

#nuPrdts h2.sectionHead::after,
#allPrdts h2.sectionHead::after,
#equipments h2.sectionHead::after{
    width: 8rem;
}
#parts h2.sectionHead::after {
    width: 5rem;
}

#nuPrdts .viewAll i,
#allPrdts .viewAll i,
#parts .viewAll i,
#equipments .viewAll i {
    font-size: 1rem;
    position: relative;
    top: 0.41vh;
}
#nuPrdts .viewAll p {
    position: relative;
    bottom: -6vh;
}
#nuPrdts .viewAll a,
#allPrdts .viewAll a,
#parts .viewAll a,
#equipments .viewAll a {
    color: var(--black);
}
#nuPrdts figure,
#allPrdts figure,
#parts figure,
#equipments figure {
    margin: 0;
}
#nuPrdts figcaption,
#allPrdts figcaption,
#parts figcaption,
#equipments figcaption {
    font-size: 0.85rem;
}

#equipments {
    padding-bottom: 15vh;
}